body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #fad6d6;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo img {
    height: 50px;
}

.options a {
    color: rgb(14, 13, 13);
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
}

.options a:hover {
    background-color: #555;
}
